
  
  .masthead {
    /* width: 50%; */
    height: 8em; /*altura*/
    background-color:#ffd000ee;
    text-align: center;
    font-size: 17px;
  }
  #submit-btn{
	background-color: rgb(76, 99, 230);
	border-color: transparent;
    color: #fff;
}


/* .masthead{
    background: rgba(255, 196, 0, 0.849);
    text-align: center;
} 
.site-container{
    background: rgba(255, 196, 0, 0.849);
}  

 #submit-btn{
	background-color: #872EC3;
	border-color: transparent;
	color: #fff;
} 

 * {
    padding: 0;
    margin: auto;
  }




  #search-keyword {
    width: 60vh;
    height: 6vh;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Handlee', cursive;
  }
  #submit-btn {
    width: 7em;
    height: 6vh;
    border-radius: 3px;
    font-size: 17px;
    border: none;
    background-color: darksalmon;
    font-family: 'Handlee', cursive;
  }
  .site-container {
    background-color: lightcyan;
  }
  #response-container {
    width: 37em;
    height: auto;
  }
  .articleClass {
    list-style: none;
    border: 1px solid gray;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 1em;
  } */
